<%- include('../partials/header') %>

<section class="show-card">
    <div class="ticketCard">

        <div>
            <div class="cardField"> Name: <%= profile.name %></div>
        </div>

        <div>
            <div class="cardField"> Status: <%= profile.currentStatus %></div>
        </div>

    </div>

</section>

<%- include('../partials/footer') %>